<div class='opener'>
	{{text-editor text=content.opener contenteditable=contentEditableValue}}
</div>
<div class='closer'>
	{{text-editor text=content.closer contenteditable=contentEditableValue}}
</div>

