<div class='opener' {{bind-attr style=openerStyle}}>
	{{text-editor text=content.opener editable=editable}}
</div>
<div class='closer' {{bind-attr style=closerStyle}}>
	{{text-editor text=content.closer editable=editable}}
</div>

