<div class='opener' style={{openerStyle}}>
	{{text-editor text=content.opener editable=editable}}
</div>
<div class='closer' style={{closerStyle}}>
	{{text-editor text=content.closer editable=editable}}
</div>

