<div class="panel panel-default meme-panel">
	<div class="panel-heading">
		<span>Edit Meme</span>
	</div>
	<div class="panel-body flex">
		<div class="panel panel-default meme-controls">
			<div class="panel-body">
				<div class="form-group">
					<label>Image URL</label>
					<input class="ember-view ember-text-field form-control" placeholder="Image URL" type="text">
				</div>
				<div class="form-group">
					<label>Opener Font Size</label>
					<input class="ember-view ember-text-field form-control" placeholder="Search" type="range">
				</div>
				<div class="form-group">
					<label>Closer Font Size</label>
					<input class="ember-view ember-text-field form-control" placeholder="Search" type="range">
				</div>
			</div>
		</div>
		<div class="ember-view meme-item editable" style="background-image: url(http://lh4.ggpht.com/NgmqkelleJw8GYypJRPyo10HUnMZ7aR8YbkT8ZNXAQC9KLChDT-yGvOy9R4WGEuEUDpjs-ERNYx6kU9PKWDS9OAtAOsp=s0)"><div class="opener ui-draggable ui-draggable-handle" style="font-size: 60px; top: 0px;">
	<div class="ember-view TextEditor" contenteditable="true"><div class="document-section">Opener</div>
</div>
</div>
<div class="closer ui-draggable ui-draggable-handle" style="font-size: 60px; bottom: 0px;">
	<div class="ember-view TextEditor" contenteditable="true"><div class="document-section">Closer</div>
</div>
</div>

</div>
	</div>
	<div class="panel-footer align-right">
		<button type="button" class="btn btn-success">
			Save
		</button>
		<a>
			<button type="button" class="btn btn-default">
				Cancel
			</button>
		</a>
		
	</div>
</div>