<div class="memes-container" style="zoom: 0.5">
	<div class="memes-filters">
		<div class="form-group">
			<a>
				<button type="button" class="btn btn-default full-width" aria-label="Left Align">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				Create a Meme
				</button>
			</a>
		</div>
		<div class="form-group">
			<input class="ember-text-field form-control" placeholder="Filter by meme text" type="text">
		</div>
		<div class="users">
			<div class="panel panel-default">
				<div class="panel-heading">
					Filter by Users
				</div>
				<div class="panel-body">
					<div class="label label-primary">Rami
					</div><div class="label label-primary">Amir
				</div><div class="label label-primary">Emmanuel
			</div><div class="label label-primary">Eyal
		</div><div class="label label-primary">Gal
	</div><div class="label label-primary">Gennady
</div><div class="label label-primary">Gilad
</div><div class="label label-primary">Jonathan
</div><div class="label label-primary">Liad
</div><div class="label label-primary">Ronny
</div><div class="label label-primary">Tal
</div><div class="label label-primary">Yoni
</div>
</div>
</div>
</div>
</div>
<div class="memes-list">
<div class="meme-list-item panel panel-default">  <div class="panel-body">
<div class="meme-item not-editable" style="background-image: url(http://lh4.ggpht.com/NgmqkelleJw8GYypJRPyo10HUnMZ7aR8YbkT8ZNXAQC9KLChDT-yGvOy9R4WGEuEUDpjs-ERNYx6kU9PKWDS9OAtAOsp=s0)"><div class="opener" style="font-size: 55px; top: 0px;">
<div class="TextEditor" contenteditable="false"><div class="document-section">Opener</div>
</div>
</div>
<div class="closer" style="font-size: 60px; bottom: 0px;">
<div class="TextEditor" contenteditable="false"><div class="document-section">Closer</div>
</div>
</div>
</div>
</div>
<div class="panel-footer">
<a>
<button type="button" class="btn" aria-label="Left Align">
<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
</button>
</a>
<button type="button" class="btn" aria-label="Left Align" data-ember-action="666">
<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>
<button type="button" class="btn" data-bindattr-638="638" aria-label="Left Align" data-ember-action="639">
<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
<span class="badge">0</span>
</button>
<span class="label label-info">Created by Rami</span>
</div>
</div>
<div class="meme-list-item panel panel-default">  <div class="panel-body">
<div class="meme-item not-editable" style="background-image: url(http://lh4.ggpht.com/NgmqkelleJw8GYypJRPyo10HUnMZ7aR8YbkT8ZNXAQC9KLChDT-yGvOy9R4WGEuEUDpjs-ERNYx6kU9PKWDS9OAtAOsp=s0)"><div class="opener" style="font-size: 55px; top: 0px;">
<div class="TextEditor" contenteditable="false"><div class="document-section">Opener</div>
</div>
</div>
<div class="closer" style="font-size: 60px; bottom: 0px;">
<div class="TextEditor" contenteditable="false"><div class="document-section">Closer</div>
</div>
</div>
</div>
</div>
<div class="panel-footer">
<a>
<button type="button" class="btn" aria-label="Left Align">
<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
</button>
</a>
<button type="button" class="btn" aria-label="Left Align" data-ember-action="666">
<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>
<button type="button" class="btn" data-bindattr-638="638" aria-label="Left Align" data-ember-action="639">
<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
<span class="badge">0</span>
</button>
<span class="label label-info">Created by Rami</span>
</div>
</div>
</div>
</div>