{{#element-highlighter data=highlightData.edit}}
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">/memes/:meme_id/edit</h3></div>
		<div class='panel-body'>
			<div class='row'>
				<div class="col-xs-6 frame" style="zoom:0.5">
					{{partial 'frames/edit'}}
				</div>
				<div class="col-xs-6">
					{{code-snippet name="edit.html" indent=false language='html'}}
				</div>
			</div>
		</div>
	</div>
{{/element-highlighter}}