<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class='navbar-brand'>Meme Generator</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>{{#link-to 'memes'}}Memes{{/link-to}}</li>
				<li>{{#link-to 'spec'}}Spec{{/link-to}}</li>
			</ul>
		</div>
	</div>
</nav>
{{outlet}}